<?xml version="1.0"?>
<config>
    <modules>
        <Cybernetikz_Videos>
            <version>0.2.0</version>
        </Cybernetikz_Videos>
    </modules>
    <global>
        <models>
            <videos>
                <class>Cybernetikz_Videos_Model</class>
                <resourceModel>videos_mysql4</resourceModel>
            </videos>
            <videos_mysql4>
                <class>Cybernetikz_Videos_Model_Mysql4</class>
                <entities>
                    <tip>
                        <table>videos</table>
                    </tip>
                </entities>
            </videos_mysql4>
        </models>
	<blocks>
            <videos>
                <class>Cybernetikz_Videos_Block</class>
            </videos>
        </blocks>
         <helpers>
            <videos><class>Cybernetikz_Videos_Helper</class></videos>
        </helpers>
        <resources>
            <videos_setup>
                <setup>
                    <module>Cybernetikz_Videos</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </videos_setup>
            <videos_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </videos_write>
            <videos_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </videos_read>
        </resources>
    </global>
    <!--<adminhtml>
        <menu>
            <cms>
				<children>
					<videos translate="title" module="videos">
						<title>Home Video</title>
						<sort_order>102</sort_order>
						<action>videos/admin</action>
					</videos>
				</children>
			</cms>
        </menu>
    </adminhtml>-->
    <frontend>
        <routers>
            <Cybernetikz_Videos>
                <use>standard</use>
                <args>
                    <module>Cybernetikz_Videos</module>
                    <frontName>videos</frontName>
                </args>
            </Cybernetikz_Videos>
        </routers>
		
		<layout>
			<updates>
				<videos>
					<file>videos.xml</file>
				</videos>
			</updates>
		</layout>
		
    </frontend>
</config>