<?xml version="1.0"?>
<config>
    <modules>
        <Cybernetikz_Events>
            <version>0.2.0</version>
        </Cybernetikz_Events>
    </modules>
    <global>
        <models>
            <events>
                <class>Cybernetikz_Events_Model</class>
                <resourceModel>events_mysql4</resourceModel>
            </events>
            <events_mysql4>
                <class>Cybernetikz_Events_Model_Mysql4</class>
                <entities>
                    <tip>
                        <table>events</table>
                    </tip>
                </entities>
            </events_mysql4>
        </models>
	<blocks>
            <events>
                <class>Cybernetikz_Events_Block</class>
            </events>
        </blocks>
         <helpers>
            <events><class>Cybernetikz_Events_Helper</class></events>
        </helpers>
        <resources>
            <events_setup>
                <setup>
                    <module>Cybernetikz_Events</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </events_setup>
            <events_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </events_write>
            <events_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </events_read>
        </resources>
    </global>
    <adminhtml>
        <menu>
            <cms>
				<children>
					<events translate="title" module="events">
						<title>Events</title>
						<sort_order>104</sort_order>
						<action>events/admin</action>
					</events>
				</children>
			</cms>
        </menu>
    </adminhtml>
    <frontend>
        <routers>
            <Cybernetikz_Events>
                <use>standard</use>
                <args>
                    <module>Cybernetikz_Events</module>
                    <frontName>events</frontName>
                </args>
            </Cybernetikz_Events>
        </routers>
		
		<layout>
			<updates>
				<events>
					<file>events.xml</file>
				</events>
			</updates>
		</layout>
		
    </frontend>
</config>