<?xml version="1.0"?>
<config>
    <modules>
        <Cybernetikz_Sliders>
            <version>0.2.0</version>
        </Cybernetikz_Sliders>
    </modules>
    <global>
        <models>
            <sliders>
                <class>Cybernetikz_Sliders_Model</class>
                <resourceModel>sliders_mysql4</resourceModel>
            </sliders>
            <sliders_mysql4>
                <class>Cybernetikz_Sliders_Model_Mysql4</class>
                <entities>
                    <tip>
                        <table>sliders</table>
                    </tip>
                </entities>
            </sliders_mysql4>
        </models>
		<blocks>
            <sliders>
                <class>Cybernetikz_Sliders_Block</class>
            </sliders>
        </blocks>
         <helpers>
            <sliders><class>Cybernetikz_Sliders_Helper</class></sliders>
        </helpers>
        <resources>
            <sliders_setup>
                <setup>
                    <module>Cybernetikz_Sliders</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sliders_setup>
            <sliders_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sliders_write>
            <sliders_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sliders_read>
        </resources>
    </global>
    <!--<adminhtml>
        <menu>
            <cms>
				<children>
					<sliders translate="title" module="sliders">
						<title>Home Slider</title>
						<sort_order>102</sort_order>
						<action>sliders/admin</action>
					</sliders>
				</children>
			</cms>
        </menu>
    </adminhtml>-->
    <frontend>
        <routers>
            <Cybernetikz_Sliders>
                <use>standard</use>
                <args>
                    <module>Cybernetikz_Sliders</module>
                    <frontName>sliders</frontName>
                </args>
            </Cybernetikz_Sliders>
        </routers>
		
		<layout>
			<updates>
				<sliders>
					<file>sliders.xml</file>
				</sliders>
			</updates>
		</layout>
		
    </frontend>
</config>