<?xml version="1.0"?>
<config>
    <modules>
        <Cybernetikz_Ads>
            <version>0.2.0</version>
        </Cybernetikz_Ads>
    </modules>
    <global>
        <models>
            <ads>
                <class>Cybernetikz_Ads_Model</class>
                <resourceModel>ads_mysql4</resourceModel>
            </ads>
            <ads_mysql4>
                <class>Cybernetikz_Ads_Model_Mysql4</class>
                <entities>
                    <tip>
                        <table>ads</table>
                    </tip>
                </entities>
            </ads_mysql4>
        </models>
	<blocks>
            <ads>
                <class>Cybernetikz_Ads_Block</class>
            </ads>
        </blocks>
         <helpers>
            <ads><class>Cybernetikz_Ads_Helper</class></ads>
        </helpers>
        <resources>
            <ads_setup>
                <setup>
                    <module>Cybernetikz_Ads</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ads_setup>
            <ads_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ads_write>
            <ads_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ads_read>
        </resources>
    </global>
    <!--<adminhtml>
        <menu>
            <cms>
				<children>
					<ads translate="title" module="ads">
						<title>Home Ads</title>
						<sort_order>102</sort_order>
						<action>ads/admin</action>
					</ads>
				</children>
			</cms>
        </menu>
    </adminhtml>-->
    <frontend>
        <routers>
            <Cybernetikz_Ads>
                <use>standard</use>
                <args>
                    <module>Cybernetikz_Ads</module>
                    <frontName>ads</frontName>
                </args>
            </Cybernetikz_Ads>
        </routers>
		
		<layout>
			<updates>
				<ads>
					<file>ads.xml</file>
				</ads>
			</updates>
		</layout>
		
    </frontend>
</config>